* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* color */
:root {
  --brown-1: rgba(66, 61, 60, 100%);
  --white: #ffffff;
  --gray: #cbc9c9;
  --burnt-orange: #875c36;
}
body {
  background-color: var(--gray);
}
.navbar {
  background-color: var(--white);
  padding: 15px;
  text-align: center;
}
.navbar-title {
  border: 8px solid var(--burnt-orange);
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  color: var(--brown-1);
  font-size: 30px;
}
.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  padding: 150px;
}
.book {
  position: relative;
  text-align: center;
}
.span-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: rgba(0, 0, 0, 0.7); */
  background-color: var(--brown-1);
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}
.book img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  padding-bottom: 25px;
  /* filter: blur(5px); */
}
.book h2 {
  color: var(--brown-1);
  font-size: 20px;
  padding-bottom: 20px;
}
.book button {
  width: 120px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid var(--burnt-orange);
  color: var(--burnt-orange);
  font-size: 15px;
  font-weight: 600;
}
.book button:hover {
  background-color: var(--burnt-orange);
  color: var(--brown-1);
}
.footer {
  background-color: var(--white);
  text-align: center;
  padding: 100px 0;
}
.footer h2 {
  color: var(--brown-1);
  font-size: clamp(50px, 4vw, 70px);
}
@media (max-width: 768px) {
  .book-list {
    padding: 150px 70px;
  }
}
@media (max-width: 540px) {
  .book-list {
    padding: 100px 20px;
  }
  .book img {
    height: auto;
    padding-bottom: 25px;
  }
}
